@use 'colors.scss' as *;

.tooltips {
    position: absolute;
    background-color: $bcg-darkest;
    border-radius: 3px;
    padding: 1px;
    z-index: 10000;
    pointer-events: none;
}

.tooltips-content {
    color: $clr-default;
    margin: 2px;
}
